<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout">
<head>
<head>
	     <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		href="materialize/css/materialize.min.css" media="screen,projection" />
	<script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="materialize/style/style.css"/>	
			
		<script type="text/javascript">//<![CDATA[
			$(document).ready(function () {
				$(".dropdown-trigger").dropdown();
			});
		
		</script>
    </head>
</head>
<body>	
	
	
  
	  <!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="/rest">New Restaurant</a></li>
	  <li><a href="/listRest">List of Restaurants</a></li>	  
	  <li class="divider"></li>
	  <li><a href="#!">Delete Restaurant</a></li>
	</ul>
	
	<ul id="dropdown2" class="dropdown-content">
	  <li><a href="/func">New Funcionary</a></li>
	  <li><a href="/listFunc">List of Funcionary</a></li>	  
	  <li class="divider"></li>
	  <li><a href="#!">Delete Funcionary</a></li>
	</ul>
	
	<ul id="dropdown3" class="dropdown-content">
	  <li><a href="/votoFunc">Vote</a></li>
	  <li class="divider"></li>
	  <li><a href="/listFunc">Result</a></li>	
	  
	 
	</ul>
	
	<nav>
	  <div class="nav-wrapper">
	    <a href="#!" class="brand-logo">Desafio</a>
	    <ul class="right hide-on-med-and-down">
	      
	      <!-- Dropdown Trigger -->
	      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Restaurant<i class="material-icons right">arrow_drop_down</i></a></li>
	      <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Funcionary<i class="material-icons right">arrow_drop_down</i></a></li>	      
	      <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Vote<i class="material-icons right">arrow_drop_down</i></a></li>
	    </ul>
	  </div>
	</nav>
  
	
		<br>
		<div class="container formRestaurant">	
		<th:block th:include="mensagem"></th:block>		
			<form class="container" method="post">
				Name: <input type="text" value="" name="nome"/>				
				Endereco: <input type="text" value="" name="endereco"/>	 
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>			
			</form>
		</div>
		
		 <!--Import jQuery before materialize.js-->
		<script type="text/javascript"
			src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
		
	
</body>
</html>